# requirements.txt

numpy==1.24.4
pandas==2.0.3
Pint==0.21.1
-e git+https://github.com/seb5g/pymeasure.git@c39111f6bc25d4481eace1a6b2508565333e2435#egg=PyMeasure
pyqtgraph==0.13.3
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
PyVISA==1.14.1
six==1.16.0
typing_extensions==4.10.0
tzdata==2024.1
 